
$grayLight: #f5f7fa;
$grayDark: #c7cfd9;
$light: #fff;

$remove: #fb3e6e;
$confirm: #53d56c;
$cancel: #f9ca24;

$line: #c3d8e0;

$textDark: #292d32;
$textLight: #fff;
$textGray: #a6b1b7;

$categoryMain: #fd9b78;
$categorySecondary: #26c0d6;
$categoryDefault: #adbfc7;
